.btn {
  border-radius: 50%;
  width: 24px;
  height: 24px;
  border: 1px solid var(--clr-dark-grayishblue-la);
  background-color: transparent;
  outline: none;
  cursor: pointer;
  appearance: none;
}
