@use "../util" as *;

.btn {
  display: inline-block;
  width: 24px;
  height: 24px;
  outline: none;
  border: none;
  cursor: pointer;
  border-radius: 50%;
  padding: rem(12);
  background: var(--border-color);
  mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  mask-composite: destination-out;
  position: relative;
  transition: background 250ms ease-in, padding 250ms ease-in;

  &::before {
    content: "";
    position: absolute;
    border-radius: 50%;
    top: 2px;
    left: 2px;
    right: 2px;
    bottom: 2px;
    background: var(--main-color);
  }

  &:hover {
    background: var(--clr-chekbg);
  }
}
