@use "../util" as *;

.btn {
  width: 24px;
  height: 24px;
  outline: none;
  border: none;
  appearance: none;
  cursor: pointer;
  border-radius: 50%;
  padding: rem(1);
  background: var(--clr-dark-grayishblue-la);
  mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  mask-composite: destination-out;

  &:hover {
    padding: rem(2);
    background: var(--clr-chekbg);
  }
}
