@use "../util" as *;

//Song data

.todo-task {
  border-bottom: 1px solid var(--clr-light-grayishblue-lb);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: rem(14) rem(16);
  color: var(--clr-dark-grayishblue-lb);
  cursor: move;

  &.is-active {
    & .todo-task-delete {
      opacity: 1;
      visibility: visible;
    }

    p {
      text-decoration: line-through;
      color: var(--clr-dark-grayishblue-la);
    }

    .btn {
      padding: 12px;
      background: url(../images/icon-check.svg) no-repeat center, var(--clr-chekbg);
    }
  }

  @include mq(small) {
    padding: rem(19.5) rem(24);
  }

  &-description {
    display: inherit;
    align-items: center;
    flex-basis: 95%;

    > p {
      margin-left: rem(12);
      margin-right: rem(24);
      word-break: break-word;
      cursor: pointer;
    }
  }

  &-delete {
    cursor: pointer;
    opacity: 0;
    visibility: hidden;
    transition: opacity 250ms ease-in, visibility 250ms ease-in;
  }
}
