@use "../util" as *;

.todo-task {
  border-bottom: 1px solid var(--border-color);
  display: flex;
  justify-content: space-between;
  gap: rem(12);
  align-items: center;
  padding: rem(14) rem(20);
  color: var(--color-secondary);
  cursor: move;

  &.is-active {
    & .todo-task-delete {
      opacity: 1;
      visibility: visible;
    }

    p {
      text-decoration: line-through;
      color: var(--color-primary);
    }

    .btn {
      padding: rem(12);
      background: url(../images/icon-check.svg) no-repeat center, var(--clr-chekbg);

      &::before {
        position: initial;
      }
    }
  }

  @include mq(small) {
    padding: rem(19.5) rem(24);
  }

  &-description {
    display: inherit;
    align-items: center;
    flex-basis: 95%;
    gap: 1rem;

    > p {
      word-break: break-word;
      cursor: pointer;
    }
  }

  &-delete {
    cursor: pointer;
    opacity: 0;
    visibility: hidden;
    transition: opacity 250ms ease-in, visibility 250ms ease-in;
  }
}
