@use "../util" as *;

.main-header {
  background: var(--bg-mobile-header);
  background-size: cover;
  padding-top: rem(40);
  padding-bottom: rem(130);

  @include mq(small) {
    background: var(--bg-desktop-header);
    background-size: cover;
    padding-top: rem(72);
    padding-bottom: rem(192);
  }

  &-content {
    .brand {
      display: block;
      font-size: 2.1em;
      font-weight: bold;
      text-decoration: none;
      line-height: 1.15rem;
      overflow: hidden;
      color: var(--clr-white);

      > span {
        vertical-align: sub;
        margin-right: rem(-10);
        letter-spacing: rem(10);
        text-transform: uppercase;
      }
    }

    .dark-theme-img {
      cursor: pointer;
      user-select: none;
      -webkit-tap-highlight-color: rgba(black, 0);

      > img {
        vertical-align: middle;
        pointer-events: none;
      }
    }
  }
}
