@use "../util" as *;

main {
  position: relative;
}

.todo {
  margin-bottom: rem(42);
  margin-top: rem(-92);

  @include mq(small) {
    margin-top: rem(-144);
  }

  &-newTask {
    border-radius: 6px;
    margin-bottom: rem(16);
    background-color: var(--main-color);

    @include mq(small) {
      margin-bottom: rem(24);
    }

    &-add {
      padding: rem(9) rem(20);

      @include mq(small) {
        padding: rem(14) rem(24);
      }

      input[type="text"] {
        font-family: var(--font-family);
        padding: rem(10);
        font-size: var(--fz-sm);
        flex: 1 1 auto;
        margin-left: rem(2);
        border: none;
        outline: none;
        color: var(--color-secondary);
        caret-color: var(--clr-brightblue);
        background-color: transparent;

        @include mq(small) {
          font-size: var(--fz-md);
        }
      }
    }
  }

  &-tasks {
    background-color: var(--main-color);
    border-radius: 6px;
    overflow: hidden;
    margin-bottom: rem(16);
    color: var(--color-primary);
    box-shadow: 0px 10px 20px -6px var(--foreground-color);

    &-tags {
      padding: rem(16) rem(20);
    }

    &-tag {
      @include activeState;
    }
  }

  &-details {
    border-radius: 6px;
    padding: rem(16);
    gap: rem(16);
    background-color: var(--main-color);
    box-shadow: 0px 2px 15px 2px var(--foreground-color);

    @include mq(small) {
      position: absolute;
      bottom: 0;
      left: 48%;
      transform: translateX(-48%);
      padding: rem(18);
      box-shadow: initial;
    }

    &-btn {
      @include activeState;
      font-weight: bold;
    }
  }
}
